html{
  background-color: #222222;
}

.memory__field{
  height: 100%;
  width: 100%;
  //background-color: darkgray;
  background-image: url("./images/background.png");
  background-size: cover;
  display: block;
  border-style: solid;
  border-color: black;
  border-width: 4px;
}

.memory__table-element{
  padding-left: 30px;
  padding-top: 30px;
  height: 175px;
  width: 175px;
}

.memory__table-row{

}