html{
  background-color: #222222;
  height: 100%
}

body{
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.memory__table{
  height: 100%;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.memory__table-row{
}

.memory__table-element{
  width: 25%;
}

.memory__field{
  height: 100%;
  width: auto;
  background-image: url("./images/background.png");
  background-size: 100% 100%;
  display: block;
  border-style: solid;
  border-color: black;
  border-width: 4px;
}
